/* import Neucha and Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  font-family: Neucha;
}

.use-max-width {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 360px;
  padding: 0 8px;
}

