/* content */

.content {
  background-color: #431D37;
  background-image: url('/img/home-screen.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: grid;
  gap: 8px;
  grid-template:
    "author" auto
    "main-nav" auto
    "shadow" 1fr
    "contact-nav" auto
      / auto;

  min-height: 100vh;
}


.author-shadow {
  align-self: end;
  grid-area: shadow;
  max-width: 100%;
}

/* main nav */

.main-nav {
  grid-area: main-nav;
  width: 100%;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  border: 1px solid grey;
  padding: 1rem;
  text-transform: uppercase;
}

.main-nav a {
  display: block;
  position: relative;
}

.main-nav a .small {
  font-size: 50%;
  left: 0;
  position: absolute;
  top: 100%;
}


/* main footer */

.main-footer {
  grid-area: author;
  width: 100%;
}


/* contact nav */

.contact-nav {
  grid-area: contact-nav;
  width: 100%;
}

.contact-nav ul {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-nav ul li {
  border: 1px solid grey;
}

@media screen and (min-width: 480px) {
  a {
    color: white;
  }

  .main-nav {
    width: auto;
    position: absolute;
    top: 5%;
    bottom: 15%;
    right: 15%;
    left: 55%;
  }

  .main-nav ul {
    height: 100%;
    display: grid;
    align-items: center;
  }

  .main-nav ul li {
    border: none;
  }

  .main-nav a {
    font-size: 2rem;
  }

  .contact-nav ul {
    position: absolute;
    left: 20%;
    right: 45%;
    top: 15%;
    bottom: 50%;

    text-align: center;
  }

  .contact-nav a {
    display: block;
    padding: 1rem;
  }

  .author-shadow {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 40%;
  }

  .about-link {
    position: absolute;
    top: 30%;
    height: 30%;
    left: 18%;
    width: 10%;
    border: 1px solid red;
  }

  .use-max-width {
    max-width: 100%;
  }
}

